html,
body {
    height: 100%;
    min-height: 100%;
}

.chat-input-container {
    flex-shrink: none;
    height: 160px;
}

.chat-input-wrapper {
    width: 100%;
}

#chat-input {
    width: 100%;
    height: 100%;
}


.chat-wrapper {
    flex-direction: column;
    display: flex;
}

.chat-display {
    flex: 1;
}

#sticky-footer {
    flex-shrink: none;
}